/*  NAVBAR START */

#register-button{
    font-size: 12px;
    border-radius: 2vw;
    font-weight: 600;
    letter-spacing: 2.5px;
    background: rgb(37, 44, 90);
    background: linear-gradient(315deg, rgb(37, 44, 90) 0%, rgb(32, 15, 226) 100%);
}

nav img{
    height: 10vh;
}

ul span:hover{
    border-bottom: 1px solid #d8d6d6ef;
    transition: all .2s cubic-bezier(.32,.93,.49,.77) 50ms;
}
/*  NAVBAR END */

/* HERO SECTION START */
.hero-slider{
    background-image: url(./Img/london-image.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    height: 125%;
}
.hero-slider .overlay{
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 125%;
    position: absolute;
    left: 0;
    top: 0;
}
/* HERO SECTION END */

/* CARDS START */
#cards .btn{
    /* background-color: #1A235E; */
    background: rgb(37, 44, 90);
    background: linear-gradient(315deg, rgb(37, 44, 90) 0%, rgb(32, 15, 226) 100%);
}
.card-img-overlay span{
    background-color: #1A235E;
}

.card:hover img{
    transform: scale(1.02);
    transition: all linear 0.2s;
    cursor: pointer;
}
.card h5{
    letter-spacing: 2.5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
}
.card p{
    font-size: 15px;
    line-height: 25px;
}
.card::after{
    content: "6 Nov";
    width:70px;
    padding: 5px 6px;
    color:#fff;
    font-weight: 15px;
    font-family: sans-serif;
    position: absolute;
    background-color: #1A235E;
    top: 0;
    left: 84.5%;
    border-top-right-radius: 5px;
}

.card h5::selection,p::selection{
    background-color: #000;
    color: #fff;
}
/* CARDS END */

/* FOOTER START */
footer{
    /* background-color: #1A235E; */
    background-color: #1a1a1a;
}
footer .background-figure{
    fill: #ffff;
    position: absolute;
    margin-top: -150px;
    margin-left: -220px;
}
/* FOOTER END */


/* RESPONSIVE */
@media (max-width:1026px){
    nav{
        background-color: #fff;
    };
    nav img{
        height: 80px;
    }
}
@media (max-width:573px) {
    #link-and-address .contact,.social{
        padding-top: 25px;
    }
    nav img{
        height: 60px;
    }
}
